# Copy this file to .env and fill in your Vertex AI project details
# These variables will be used by the proxy service in docker-compose.yml

VERTEXAI_PROJECT=your-gcp-project-id
VERTEXAI_LOCATION=us-central1  # or maybe another region, in the future
VERTEXAI_PROXY_API_KEY=replace-with-a-long-random-secret
